<!DOCTYPE html>
<html>
    {% extends "base.html" %}
    <head>      
        {% block title %}만족여부{% endblock %}
    </head>
    <body>
        {% block content %}
        <form method="POST" action="/satisfy" class="satis_main">
            <h2>여행 매칭에 만족하시나요?</h2>
                {{form.hidden_tag()}}
                <div class="cond_selbox box1">
                    <label class="cond_selinfo">만족 여부: </label>
                    <div class="cond_sel">{{form.input_sat}}</div>
                </div>
                <button type="buttom" class="login_btn" id="cond_btn">
                    확     인
                </button>
            </form>
            {% endblock %}



<!--        <div class="satis_main">-->
<!--            <h1>이미 매칭된 팀이 있습니다.<br>매칭된 팀에 만족하시나요?</h1>-->
<!--            <a href="condition.html">-->
<!--                <div class="satis_selbox yes">-->
<!--                    네<br>다른 여행지도<br>보고싶습니다.-->
<!--                </div>-->
<!--                <div class="cond_selbox no">-->
<!--                    아니요<br>새로운 팀을<br>원합니다.-->
<!--                </div>-->
<!--            </a>-->
<!--        </div>-->
        
 
      </body>
</html>