<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>teamcreate</title>
</head>
<body id="tc_body">
<div class="login_header">
    <img src="img/heartboo.png" class="login_logo">
    <h1>외대생 여행메이트 찾기</h1>
</div>
<div class="tc_main">
    <form method="POST" action="/teamcreate">
        {{form.csrf_token}}
        <div class="tc_header">
            <h1>팀 생성</h1>
            <div>다음 정보를 기입해주세요.</div>
        </div>
        <div class="ti_box userNum">
            {{form.userNum.label("회원번호: ")}}
            {{form.userNum(class="ti_tile")}}
        </div>
        <div class="ti_box teamName">
            {{form.teamName.label("팀명: ")}}
            {{form.teamName(class="ti_title",placeholder="10글자 이내로 작성")}}
        </div>
        <div class="ti_box teamTo">
            <label class="ti_title">여행지: </label>
            <div value="" class="cond_country">{{form.teamTo}}</div>
        </div>
        <div class="ti_box numGoal">
            <label class="ti_title">목표인원: </label>
            <div class="cond_num">{{form.teamNumGoal}}</div>
        </div>
        <div class="ti_box address">
            {{form.teamAddress.label("팀 카톡방 주소: ")}}
            {{form.teamAddress(class="ti_title",placeholder="오픈 카톡 주소를 입력해주세요.")}}
        </div>
        <div class="ti_box address">
            {{form.teamIntro.label("간단한 팀소개 멘트: ")}}
            {{form.teamIntro(class="ti_title",placeholder="안녕하세요~ 함께 미국으로 여행 갈 친구 찾습니다!")}}

        </div>

        <button type="submit" class="login_btn">
            팀 생성
        </button>
    </form>
</div>

<script></script>
</body>
</html>